@model IEnumerable<WebStore.Models.Employee>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>#</td>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Детали</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var person in Model)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>
                        <a href="/home/details/@person.Id">Перейти</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a href="/">На главную</a>
    </p>
</body>
</html>
